@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Screenlock - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/default-css.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                {
                    //<form action="Login" method="post">
                    <div class="login-form-head">
                        <h4>Lockscreen</h4>
                        <p>Hey,&nbsp;&nbsp; <strong><span id="PrevF"></span></strong> ! Unlock Your Screen.</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="text" hidden id="uname" name="uname" />
                            <input required name="password" type="password" id="exampleInputPassword1">

                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area mt-5">
                            <button id="form_submit" type="submit">Unlock <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="text-center">
                            <a onclick="redirectToLogin()" href="#">Or sign in as a different user</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- login area end -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script>

        window.onload = function () {
            noBack();
        }

        function noBack() {
            window.history.forward();
        }


        if (localStorage["PrevF"] == 'null'|| localStorage["PrevF"] == undefined) {
            window.location.href = "/Admin/Login"
        } else {
            document.getElementById("PrevF").innerHTML = localStorage["PrevF"];
            document.getElementById("uname").value = localStorage["FID"];
            document.getElementById("uname").style = "display : none;"

            function redirectToLogin() {
                localStorage["PrevF"] = null;
                window.location.href = "/Admin/Login"
            }
        }
    </script>
</body>

</html>