<footer>
    <div class="footer-area">
        <p>
            Learning Management System is delepoved by <strong>Ritik Dubey</strong> and <strong>Gautam Yadav</strong> with assist of <strong>Lalit Sir</strong>.
        </p>
    </div>
</footer>
