@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" oncontextmenu="return false">

<head>
    <title>Student Portal || GLA University</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/css/Admin/style.css">


    <style>
        .login {
            background-color: rgba(47, 79,79, 0.4);
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            padding: 20px;
            border-radius: 30px;
            backdrop-filter: blur(6px)
        }
    </style>

</head>

<body class="img js-fullheight" style="background-image: url(/dist/img/about-us.jpg); background-size: cover;">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center mb-3">

                    <h2 class="heading-section">GLA University</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap login">
                        <h3 class="mb-4 text-center">Student Portal</h3>
                        <div class="card-body">
                            @using (Html.BeginForm("Login", "Student", FormMethod.Post))
                            {
                                <div class="input-group mb-3">
                                    <input autocomplete="off" required name="uname" type="text" class="form-control" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <input id="password-field" name="password" autocomplete="off" type="password" class="form-control" placeholder="Password" required>
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-100">
                                        <label class="checkbox-wrap checkbox-primary">
                                            Remember Me
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    @*<div class="w-50 text-md-right">
                                        <a href="#" style="color: #fff">Forgot Password</a>
                                    </div>*@
                                </div>
                                <div class="social d-flex text-center">
                                    <a href="~/Admin/Login" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Faculty Portal</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.min.js"></script>
@*    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/js/main.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>


        window.onload = function () {
            noBack();
        }

        function noBack() {
            window.history.forward();
        }


        if (window.localStorage["PrevUsr"] == 'null' || window.localStorage["PrevUsr"] == undefined) {
            if ("@ViewBag.Status" == "failed") {
                $(function () {
                    var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 4000
                    });

                    $(function () {
                        Toast.fire({
                            icon: 'error',
                            title: 'Login Failed: Your user ID or password is incorrect'
                        })
                    });
                });
            }
        }
        else {
            window.location.href = "/Student/LockScreen"
        }

    </script>
</body>

</html>
